@model QL_TourDuLich.BUS.DoanDuLich

@{
    ViewBag.Title = "Delete";
}

<h2>Xoá</h2>

<h3>Bạn có muốn xoá không?</h3>
<div>
    <h4>Đoàn Du Lịch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày Khởi Hành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKhoiHanh)
        </dd>

        <dt>
            Ngày Kết Thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            Doanh Thu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoanhThu)
        </dd>

        <dt>
            Tên Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourDuLich.TenTour)
        </dd>

        <dt>
            Hành Trình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDungTour.HanhTrinh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
