@model QL_TourDuLich.BUS.DoanDuLich

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Đoàn Du Lịch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày Khởi Hành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKhoiHanh)
        </dd>

        <dt>
            Ngày Kết Thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            Doanh Thu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoanhThu)
        </dd>

        <dt>
            Tên Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourDuLich.TenTour)
        </dd>

        <dt>
            Hành Trình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDungTour.HanhTrinh)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn cur-p btn-outline-success">@Html.ActionLink("Sửa", "Edit", new { id = Model.MaDoan })</button> | <button type="button" class="btn cur-p btn-outline-dark">@Html.ActionLink("Trở về", "Index")</button>
</p>
