@model QL_TourDuLich.BUS.DoanDuLich

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DoanDuLich</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayKhoiHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKhoiHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoanhThu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoanhThu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourDuLich.TenTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourDuLich.TenTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDungTour.HanhTrinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDungTour.HanhTrinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDoan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
