@model IEnumerable<QL_TourDuLich.BUS.DoanDuLich>

@{
    ViewBag.Title = "Index";
}

<h2>Đoàn Du Lịch</h2>
@using (Html.BeginForm("Index", "DoanDuLiches", FormMethod.Get))
{
    @Html.TextBox("q")
    <input type="submit" value="Tìm" />
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngày Khởi Hành
        </th>
        <th>
            Ngày Kết Thúc
        </th>
        <th>
            Doanh Thu
        </th>
        <th>
            Tên Tour
        </th>
        <th>
            Hành Trình
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKhoiHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanhThu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourDuLich.TenTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDungTour.HanhTrinh)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaDoan }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDoan }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaDoan })
            </td>
        </tr>
    }

</table>
