@model IEnumerable<QL_TourDuLich.BUS.DiaDiem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Địa Điểm</h2>
@using (Html.BeginForm("Index", "DiaDiems", FormMethod.Get))
{
    @Html.TextBox("q")
    <input type="submit" value="Tìm" />
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Địa Điểm
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDiaDiem)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaDiaDiem }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDiaDiem }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaDiaDiem })
            </td>
        </tr>
    }

</table>
