@model IEnumerable<QL_TourDuLich.BUS.ChiPhi>

@{
    ViewBag.Title = "Index";
}

<h2>Chi Phí</h2>
@using (Html.BeginForm("Index", "ChiPhis", FormMethod.Get))
{
    @Html.TextBox("q")
    <input type="submit" value="Tìm" />
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Số Tiền
        </th>
        @*<th>
            Mã Đoàn
        </th>*@ 
        <th>
            Tên Loại Chi Phí
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoTien)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DoanDuLich.MaDoan)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LoaiChiPhi.TenLoaiChiPhi)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaChiPhi }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaChiPhi }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaChiPhi })
            </td>
        </tr>
    }

</table>
