@model IEnumerable<QL_TourDuLich.BUS.LoaiChiPhi>

@{
    ViewBag.Title = "Index";
}

<h2>Loại Chi Phí</h2>
@using (Html.BeginForm("Index", "LoaiChiPhis", FormMethod.Get))
{
    @Html.TextBox("q")
    <input type="submit" value="Tìm" />
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Loại Chi Phí
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiChiPhi)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaLoaiChiPhi }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaLoaiChiPhi }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaLoaiChiPhi })
            </td>
        </tr>
    }

</table>
