@model QL_TourDuLich.BUS.GiaTour

@{
    ViewBag.Title = "Delete";
}

<h2>Xoá</h2>

<h3>Bạn có muốn xoá không?</h3>
<div>
    <h4>Giá Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Thành Tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            Thời Gian Bắt Đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>

        <dt>
            Thời Gian Kết Thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>

        <dt>
            Tên Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourDuLich.TenTour)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
