@model QL_TourDuLich.BUS.GiaTour

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Giá Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Thành Tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            Thời Gian Bắt Đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>

        <dt>
            Thời Gian Kết Thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>

        <dt>
            Tên Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourDuLich.TenTour)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn cur-p btn-outline-success">@Html.ActionLink("Sửa", "Edit", new { id = Model.MaGia })</button> | <button type="button" class="btn cur-p btn-outline-dark">@Html.ActionLink("Trở về", "Index")</button>
</p>
