@model IEnumerable<QL_TourDuLich.BUS.GiaTour>

@{
    ViewBag.Title = "Index";
}

<h2>Giá Tour</h2>
@using (Html.BeginForm("Index", "GiaTours", FormMethod.Get))
{
    @Html.TextBox("q")
    <input type="submit" value="Tìm" />
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Thành Tiền
        </th>
        <th>
            Thời Gian Bắt Đầu
        </th>
        <th>
            Thời Gian Kết Thúc
        </th>
        <th>
            Tên Tour
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourDuLich.TenTour)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaGia }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaGia }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaGia })
            </td>
        </tr>
    }

</table>
