@model QL_TourDuLich.BUS.KhachHang

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Khách Hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Số CMND
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soCMND)
        </dd>

        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Giới Tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            SDT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Quốc Tịch
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuocTich)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn cur-p btn-outline-success">@Html.ActionLink("Sửa", "Edit", new { id = Model.MaKhachHang })</button> | <button type="button" class="btn cur-p btn-outline-dark">@Html.ActionLink("Trở về", "Index")</button>
</p>
