@model IEnumerable<QL_TourDuLich.BUS.KhachHang>

@{
    ViewBag.Title = "Index";
}

<h2>Khách Hàng</h2>
@using (Html.BeginForm("Index", "KhachHangs", FormMethod.Get))
{
    @Html.TextBox("q")
    <input type="submit" value="Tìm" />
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table ">
    <thead class="thead-dark">
        <tr>
            <th>
                Họ Tên
            </th>
            <th>
                Số CMND
            </th>
            <th>
                Địa Chỉ
            </th>
            <th>
                Giới Tính
            </th>
            <th>
                SDT
            </th>
            <th>
                Quốc Tịch
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soCMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuocTich)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaKhachHang }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaKhachHang }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaKhachHang })
            </td>
        </tr>

    }

</table>
