@model QL_TourDuLich.BUS.TourDuLich

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xoá</h2>

<h3>Bạn có muốn xoá không?</h3>
<div>
    <h4>Tour du lịch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTour)
        </dd>

        <dt>
            Đặc Điểm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DacDiem)
        </dd>

        <dt>
            Trạng Thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            Ngày Bắt Đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            Ngày Kết Thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            Hiển Thị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HienThi)
        </dd>

        <dt>
            Tên Loại Hình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiHinhDuLich.TenLoaiHinh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
