@model IEnumerable<QL_TourDuLich.BUS.TourDuLich>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tour</h2>
@using (Html.BeginForm("Index", "TourDuLiches", FormMethod.Get))
{
    @Html.TextBox("q")
    <input type="submit" value="Tìm" />
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã Tour
        </th>
        <th>
            Tên Tour
        </th>
        <th>
            Trạng Thái
        </th>
        <th>
            Ngày Bắt Đầu
        </th>
        <th>
            Ngày Kết Thúc
        </th>
        <th>
            Giá Tour
        </th>
        <th>
            Tên Loại Tour
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKetThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenLoaiTour)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaTour }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaTour }) |
            @Html.ActionLink("Xoá", "Delete", new { id=item.MaTour })
        </td>
    </tr>
}

</table>
