@model IEnumerable<QL_TourDuLich.BUS.TourDuLich>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "TourDuLiches", FormMethod.Get))
{
    @Html.TextBox("q")
    <input type="submit" value="Tìm" />
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenLoaiTour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKetThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenLoaiTour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTour }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTour }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTour })
        </td>
    </tr>
}

</table>
